.home-main-container {
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 650px; /* this will move to media queries and vary for each of the screen.*/
    background-image: url('../../../public/assets/images/app-baner.jpg');
}

ion-content {
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
}

.search-box-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width: 1250px;
}

.header-container {
    padding: 0px 22px;
}

ion-icon {
    color: var(--ion-color-medium-shade)
}

header {
    background-color: #1d2029;
    .header{
        border-bottom: 0.5px solid #FFF;
        position: relative;
        background-color: transparent;
        color: #FFF;
        box-shadow: none;

        .ion-color-light {
            --ion-color-base: #FFF;
        }
    }
}
.main-header{
    background-image: url(../../../public/assets/images/bg-vector-dark-gray.jpg);
    background-color: transparent;
    background-position: right 10%;
    background-repeat: no-repeat;
    min-height:100vh;
    max-width: 1400px;
    margin: 0 auto;
}

.bannerContent {
    padding-top: 10%;
    padding-left: 1rem;
    max-width: 1400px;
    margin: 0 auto;

    h2 {
        color: #fbb35F;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        padding-left: 1rem;
    }
}

.search-container {
    padding-left: 1rem;
    padding-top: 1rem;
    div, input {
        font-family: 'Poppins', sans-serif;
    }
    fieldset, form {
        border-radius: 25px;
        border: 1px solid #71747b;
        background-color: transparent;
        box-shadow: none;
    }

    .search-locaiton-container {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .search-guru {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .search-item {
        background-color: #dfe8ed;
        padding: 1rem;
    }
}