.white-label {
  color: white;
}

.banner-wrapper {
  background-image: url("../../../public/assets/images/sports-imgs.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position-y: bottom;
}

@media (min-width: 680px) {
  .banner-wrapper {
    height: 50vh;
    /* min-height: 650px;
    max-height: 1300px; */
  }
}

@media (max-width: 680px) {
  .banner-wrapper {
    height: 40vh;
  }
  .banner-wrapper h2 {
    font-size: 1.25 rem;
    font-weight: 100;
  }
}
