.white-label {
    color: white;
}

.banner-wrapper {
    background-image: url('../../../public/assets/images/app-baner.jpg');
    background-color: '#7fc7d9';
    background-position: 'center';
    background-size: 100%;
    position: 'absolute';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 'cover';
    background-repeat: 'no-repeat';
    z-index: -2;
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 650px;
}

@media (min-width: 600px) {
    .banner-wrapper {
    height: 80vh;
    min-height: 650px;
    max-height: 1300px;
    }
}
