.login-grid {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.login-grid-row {
    height: 100%;
}

.login-left-panel {
    background-image: url("../../contents/images/athlete.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-right-panel {
    background-color: #fff;
    background-image: none;
}

.login-right-panel-h1 {
    color: red;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-apple {
    --background: #000;
    max-width: 220px;
}

.login-google {
    --background: #ffffff;
    color: #757575;
    max-width: 220px;
}

.login-facebook {
    --background: #3b5998;
    max-width: 220px;
}

.login-custom-mail {
    --background: #db4437;
    max-width: 220px;
}