ion-modal {
    background: #1d2029bf;
    --max-width: 350px;
    --border-radius: 15px;
    color: #232e4d;
    --background: #FFF;
    --height: auto;
    --width: 90%;
}

ion-modal ion-icon {
    color: #fff;
}

#ion-react-wrapper {
    justify-content: end;
}