ion-icon {
    color: rgb(76, 144, 94);
}

.flex-item {
    display: flex;
    justify-content: space-between;

    .coachDetailsButton {
        background: #1d2029;
        border-radius: 25px;
    }
}