ion-icon {
    color: rgb(76, 144, 94);
}

.flexItem {
    display: flex;
    justify-content: space-between;

    .coachDetailsButton {
        background: #2ab9c6;
        border-radius: 25px;
    }
}

@media(max-width:767px){
    .gutuTitle {
        font-size: 1rem;
    }
    .mobileFlex {
        flex-direction: column;

        .coachDetailsButton {
            margin: 0.5rem 0;
        }
    }
    .testimonialsWrap{
        padding:2rem 0;
    }
}